* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
    background: black;
}
.indent {
    margin-left: 30px;
    background: rgb(49, 49, 49);
}
#toggle {
}
#toggle-box {
    cursor: pointer;
}
#toggle-box:checked + *{
    background: white !important; 
    color: black !important;
}